@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/effect-coverflow";

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-button {
  padding: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-top: 15px;
}

.video-button-wrapper {
  position: absolute;
  top: 0px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

video{
  border-radius: 10px;
}

.addToCart-button{
  all: unset;
  width: 100%;
  background: black;
  display: block;
  color: white;
  padding: 12px 0;
}